body {
    padding:0px;
    margin: 0px;
    background-color: white;
    color: black;
    font-weight: 300;
    font-size: 12pt;
    line-height: 1.3em;
}

/* input labels */
.label {
    color: white;
    padding: 3px;
}

/* image auto-resizing */
img {
    width: 100%;
    height: auto;
}

/* text styling */
strong {
    font-weight: 600;
}

.warm {
    color: steelblue;
    text-align: justify;
}

.cool {
    color: #ccccff;
}

h1 {
    margin-top: 0px;
}


/* these are all the same for now, but easy to modify individually */
#container-not-an-ad, #container-error, #container-exp, #container-consent, #container-instructions {
    background: white;
    margin: 30px;
}

/* ad.html  - the ad that people view first */
#adlogo {
    width: 140px;
    padding: 2px;
    border: 1px solid #ccc;
    margin-right: 1em;
}

/* consent.html - the consent form */
#consent {
    margin: 0 auto;
    width: 800px;
    font-size: 100%;
    line-height: 1.5;
}

/* demographics.html - the demographics form */
#demographics {
    margin: 0 auto;
    width: 800px;
    font-size: 100%;
    line-height: 1.5;
    text-align: left;
}

#perceivedStress {
    margin: 0 auto;
    width: 900px;
    font-size: 100%;
    line-height: 1.8;
    text-align: left;
}

#elsq {
    margin: 0 auto;
    width: 900px;
    font-size: 100%;
    line-height: 1.8;
    text-align: left;
}

input[type="radio"] {
    margin-right: 6px;
    margin-left: 10px;
}

input[type="text"] {
    margin-left: 8px;
    height: 26px;
}

input[type="checkbox"] {
    margin-right: 8px;
    margin-left: 8px;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.5;
}

.legal {
    text-align: justify;
    font-size: 11pt;
}

#blank{
    display: none;
}


table {
    width: 100px;
    float: left;
    color: black;
    margin-right: 120px;
    margin-left: 120px;
    text-align: center;
    border-collapse: collapse;
}

#trial {
    margin: 0 auto;
    width: 800px;
    text-align: center;
}

#tr1 {
    border: 3px solid red;
    height: 40px;
}

#tr2 {
    border: 3px solid blue;
    height: 40px;
}


p#left_selection_prompt {
    position: absolute;
    top: 90%;
    left: 25%;
    display: none;
}

p#right_selection_prompt {
    position: absolute;
    top: 90%;
    left: 54%;
    display: none;
}